# Network commands disabled in lockdown-default builds. EDGE_DEV_NETBOOT=1
# builds skip this fragment. Net core (NET, BCMGENET) remains compiled in.
# CONFIG_CMD_NET is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_TFTPBOOT is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_WGET is not set
# CONFIG_CMD_DNS is not set
