# Network commands disabled in lockdown-default builds. EDGE_DEV_NETBOOT=1
# builds skip this fragment so the netboot env macro can drive TFTP fetch
# of the FIT.
# CONFIG_CMD_NET is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_TFTPBOOT is not set
